body {
  height: 100vh;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
}

.header__title {
  margin-top: .4em;
  margin-bottom: 0;

  color: #FD1A77;
  font-size: 4em;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 2em;
  }
}

.primary-color {
  fill:#FD1A77;
}

.secondary-color {
  fill: #F2B4C2;
}

.circle {
  fill: none;
  stroke: #FD1A77;
  stroke-width: 26;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.pointers {
  fill:none;
  stroke:#FD1A77;
  stroke-width:20;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.point {
  transform: rotate(90deg);
  transform-origin: 100% 0%;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.circle {
  stroke-width: 12px;
}

.hour line {
  stroke-width: 18px;
}

.minutes line {
  stroke-width: 12px;
}


.seconds line {
  stroke-width: 8px;
}
